.tableArea {
  padding: 10px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.configArea {
  padding: 10px;
  gap: 8px;
}
.workoutCycleCalculatorWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
